################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrialAPP/.vs
/TrialAPP/LoopbackRecorder/obj
